*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
.vscode/
.idea/
__pycache__/
bin/
dist/
tmp/
temp/
*.sqlite
*.sqlite3
*.db
.DS_Store
Thumbs.db
desktop.ini
*~
